[Unit]
Description=__APP__ social network
After=network.target postgresql.service nginx.service

[Service]
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure

; Name of the user that runs the Akkoma service.
User=__APP__
Group=__APP__
; Declares that Akkoma runs in production mode.
Environment="MIX_ENV=prod"

; Make sure that all paths fit your installation.
; Path to the home directory of the user running the Akkoma service.
Environment="HOME=__FINALPATH__/live/"
; Path to the folder containing the Akkoma installation.
WorkingDirectory=__FINALPATH__/live/
; Path to the Pleroma binary. ; It has to be Pleroma not Akkoma
ExecStart=__FINALPATH__/live/bin/pleroma start
ExecStop=__FINALPATH__/live/bin/pleroma stop

[Install]
WantedBy=multi-user.target
