[Unit]
Description=__APP__ social network
After=network.target postgresql.service nginx.service

[Service]
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure

; Name of the user that runs the Akkoma service.
User=__APP__
Group=__APP__
; Declares that Akkoma runs in production mode.
Environment="MIX_ENV=prod"

; Make sure that all paths fit your installation.
; Path to the home directory of the user running the Akkoma service.
Environment="HOME=__FINALPATH__/live/"
; Path to the folder containing the Akkoma installation.
WorkingDirectory=__FINALPATH__/live/
; Path to the Pleroma binary. ; It has to be Pleroma not Akkoma
ExecStart=__FINALPATH__/live/bin/pleroma start
ExecStop=__FINALPATH__/live/bin/pleroma stop

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
DevicePolicy=closed
ProtectClock=yes
ProtectHostname=yes
ProtectProc=invisible
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
LockPersonality=yes
SystemCallArchitectures=native
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap @cpu-emulation @privileged
; Drops the sysadmin capability from the daemon.
CapabilityBoundingSet=~CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target
